@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.ttf");
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  background: #ffff;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.header-block {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  margin-left: 10px;
}

.input {
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px;
  background-repeat: no-repeat;
  background-position: left 10px center;
}

.input-address {
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
  padding-left: 35px;
  background-image: url("../img/home.svg");
}

.input-search {
  width: 300px;
  padding-left: 35px;
  background-image: url("../img/search.svg");
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 24px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
  border-radius: 2px;
  padding: 8px 16px;
  background: #ffffff;
  color: #595959;
  border: 1px solid #d9d9d9;
  font-size: 16px;
  line-height: 24px;
  word-wrap: none;
  white-space: nowrap;
}

.button-icon {
  vertical-align: middle;
  padding-right: 6px;
  width: 20px;
  fill: #595959;
}

.button:hover {
  background: #1890ff;
  color: #ffffff;
}

.button:hover .button-icon {
  fill: #ffff;
}

.button-prm {
  margin-right: 8px;
  background: #1890ff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  color: #ffffff;
}

main {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1.04%, rgba(245, 245, 245, 0)), to(#f5f5f5));
  background: -webkit-linear-gradient(top, rgba(245, 245, 245, 0) 1.04%, #f5f5f5 100%);
  background: -o-linear-gradient(top, rgba(245, 245, 245, 0) 1.04%, #f5f5f5 100%);
  background: linear-gradient(to bottom, rgba(245, 245, 245, 0) 1.04%, #f5f5f5 100%);
}

.promo {
  margin-top: 40px;
  padding: 68px 70px;
  -webkit-box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
          box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
  background: #fff1b8;
  border-radius: 10px;
  background-image: url(/img/bd-promo.png);
  background-repeat: no-repeat;
  background-position: top right -200px;
  background-size: 1220px;
}

.promo-title {
  font-weight: bold;
  font-size: 39px;
  line-height: 46px;
  color: #302c34;
}

.promo-text {
  max-width: 540px;
  font-size: 24px;
  line-height: 28px;
  color: #302c34;
}

.section-heading {
  margin-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-heading-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  width: calc(100% / 3 - 30px);
  min-width: 200px;
  margin: 15px;
  margin-bottom: 30px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  overflow: hidden;
}

.card-img {
  width: 384px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-text {
  padding: 20px 24px 24px 34px;
}

.card-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  color: #000000;
}

.card-tag {
  font-size: 12px;
  line-height: 20px;
  background: #262626;
  border-radius: 2px;
  color: #ffffff;
  padding: 1.8px;
}

.card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rating {
  padding-left: 10px;
  margin-right: 26px;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: #ffc107;
  white-space: nowrap;
}

.rating img {
  margin-right: 5px;
}

.price {
  font-size: 18px;
  line-height: 32px;
  margin-right: 10px;
  color: #8c8c8c;
  white-space: nowrap;
}

.price::after {
  display: inline-block;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #8c8c8c;
  vertical-align: middle;
  margin-left: 10px;
}

.category {
  font-size: 18px;
  line-height: 32px;
  color: #8c8c8c;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
}

.footer {
  padding: 60px 0;
}

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-nav {
  margin-right: auto;
  margin-left: 35px;
}

.footer-link {
  display: inline-block;
  font-size: 18px;
  line-height: 21px;
  color: #595959;
}

.footer-link:not(:last-child) {
  margin-right: 15px;
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-link:not(:last-child) {
  margin-right: 21px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.493);
  display: none;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  margin: auto;
  padding: 40px 45px;
  border-radius: 5px;
  max-width: 780px;
  width: 90%;
  background: #ffff;
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}

.modal-title {
  margin: 0;
  font-size: 36px;
  line-height: 42px;
  font-weight: bold;
}

.modal-body {
  margin-bottom: 50px;
}

.close {
  font-size: 36px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.food-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 15px;
}

.food-name {
  font-size: 18px;
  line-height: 32px;
}

.food-price {
  display: block;
  margin-left: auto;
  margin-right: 47px;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
}

.food-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.counter-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 39px;
  height: 32px;
  background: #ffffff;
  color: #40a9ff;
  border: 1px solid #40a9ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  font-size: 16px;
  line-height: 24px;
}

.counter {
  font-size: 16px;
  line-height: 24px;
  margin: 0 13px;
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pricetag {
  background: #262626;
  border-radius: 5px;
  color: #fff;
  padding: 15px 20px;
}

.footer-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  cursor: pointer;
}

@media (max-width: 1300px) {
  .container {
    max-width: 960px;
  }
  .promo {
    background-size: 1000px;
    background-position: right -300px center;
    padding: 30px;
  }
  .rating {
    margin-right: 10px;
  }
  .category,
  .price {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .promo {
    background-size: 800px;
    background-position: center right -250px;
    padding: 5px 20px;
  }
  .promo-text {
    max-width: 400px;
    font-size: 18px;
  }
  .card {
    width: calc(100% / 2 - 30px);
  }
  .footer-link {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 560px;
  }
  .input-address {
    margin-top: 15px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card {
    text-align: center;
    width: calc(100% - 30px);
  }
  .card-title {
    font-size: 15px;
  }
  .promo {
    background-size: cover;
    background-position: bottom right -300px;
    padding: 10px;
  }
  .promo-text {
    max-width: 400px;
    font-size: 15px;
  }
  .promo-title {
    font-size: 24px;
    line-height: 1.4;
  }
}

@media (max-width: 578px) {
  .container {
    width: 80%;
  }
  .card-img {
    width: 100%;
  }
  .footer {
    padding: 10px;
  }
  .footer-logo {
    display: none;
  }
  .footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 480px) {
  .container {
    width: 90%;
  }
  .section-heading {
    margin-top: 0px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .promo {
    padding: 20px;
  }
  .buttons {
    margin: 0 auto;
  }
  .button {
    min-height: 40px;
  }
  .button-text {
    display: none;
  }
  .footer-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-link {
    margin-right: 0px;
  }
}
