

@media (max-width: 1300px) {
  .container {
    max-width: 960px;
  }
  .promo {
    background-size: 1000px;
    background-position: right -300px center;
    padding: 30px;
  }
  .rating {
    margin-right: 10px;
  }
  .category,
  .price {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .promo {
    background-size: 800px;
    background-position: center right -250px;
    padding: 5px 20px;
    &-text {
      max-width: 400px;
      font-size: 18px;
    }
  }
  .card {
    width: calc(100% / 2 - 30px);
  }
  .footer-link {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 560px;
  }
  .header {
  }
  .input-address {
    margin-top: 15px;
    flex: 1;
    order: 3;
    flex-basis: 100%;
  }
  .buttons {
    //  order: 2;
  }
  .cards {
    justify-content: center;
  }
  .card {
    text-align: center;
    width: calc(100% - 30px);
    &-title {
      font-size: 15px;
    }
  }
  .promo {
    background-size: cover;
    background-position: bottom right -300px;
    padding: 10px;

    &-text {
      max-width: 400px;
      font-size: 15px;
    }
    &-title {
      font-size: 24px;
      line-height: 1.4;
    }
  }
}

@media (max-width: 578px) {
  .container {
    width: 80%;
  }
  .header-nav {
    margin-top: 20px;
  }
  .buttons{
    margin-top: 20px;
  }
  .card-img {
    width: 100%;
  }
  .footer {
    padding: 10px;
    &-logo {
      display: none;
    }
    &-nav {
      display: flex;
      flex-direction: column;
    }
  }
}
@media (max-width: 480px) {
  .container {
    width: 90%;
  }
  .section-heading {
    margin-top: 0px;
    flex-wrap: wrap;
  }
  .promo {
    padding: 20px;
  }
  .buttons {
    margin: 0 auto;
  }
  .button {
    min-height: 40px;
    &-text {
      display: none;
    }
  }

  .footer-block {
    flex-wrap: wrap;
  }
  .footer-link {
    margin-right: 0px;
  }
}
